# Node
node_modules/
npm-debug.log*

# React build
frontend/build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java / Spring
target/
*.class

# OS files
.DS_Store
Thumbs.db
